<h1>Nation's Members</h1>

<h2>Number of Members in this Nation: <%= @members.count %></h2>


<% @members.each_with_index do |member, i| %>
  <div id="member-<%=member.name%>">
    <% if i <= 25%>
      <p>
      Name: <%= member.name %><br>
      Allies: <%= member.allies || "None" %><br>
      Enemies: <%= member.enemies || "None" %><br>
      Affiliations: <%= member.affiliation || "None" %><br>
      <div> <img src="<%= member.photo %>" alt="picture of <%= member.name%>"> </div>
      </p>
    <% end %>
  </div>
<% end %>